<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/lvtu/public/static/css/bootstrap.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <link href="/lvtu/public/static/css/layui.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <script src="/lvtu/public/static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body>
<div class="page-header">
    <h1>留言管理<small>用于回复、删除用户前台的留言</small><small class="pull-right">当前有<span class="badge">{$count}</span>未回复</small></h1>
</div>
<!--显示数据-->
<style type="text/css">
    td{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
    <table  id="tb_message" style="table-layout:fixed" border="1">
        <tbody >
        {volist name="list" id="vo" empty="暂时没有数据"}
        <tr >
            <td >{$vo.id}</td>
            <td >{$vo.user}</td>
            <td >{$vo.email}</td>
            <td >{$vo.msg}</td>
            <td >{$vo.creattime}</td>
            <td >{$vo.respone}</td>
            <td >{$vo.responetime}</td>
            <td >
                <a  class="btn btn-danger"  href="{:Url('Message/del_message',['id'=>$vo.id])}" onclick="if(confirm('确定要删除吗?')==false) return false;"
                >
                    <span class="glyphicon glyphicon-trash">删除</span>
                </a>
                <a class="btn btn-info"  href="{:Url('Message/respone',['id'=>$vo.id])}" ><span class="glyphicon glyphicon-pencil">回复</span></a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</body>
<script src="/lvtu/public/static/js/bootstrap.js" type="text/javascript"></script>
<script src="/lvtu/public/static/js/bootstrap-table.js" type="text/javascript"></script>
<script src="/lvtu/public/static/js/bootstrap-table-zh-CN.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        load();

    });
    function load() {
        $('#tb_message').bootstrapTable({
            toolbar:'#toolbar',
            singleSelect:true,
            clickToSelect:true,
            sortName: "id",
            sortOrder: "desc",
            pageSize: 5,
            pageNumber: 1,
            showToggle: true,
            showRefresh: true,
            showColumns: true,
            search: true,
            pagination: true,

            //是否显示父子表
            columns: [ {
                field: 'id',
                title: '编号'

            }, {
                field: 'user',
                title: '用户'

            }, {
                field: 'email',
                title: '邮箱'

            }, {
                field: 'msg',
                title: '留言内容'
            }, {
                field: 'creattime',
                title: '留言时间'
            }, {
                field: 'respone',
                title: '回复'
            },
                {
                    field: 'responetime',
                    title: '回复时间'
                }, {
                    title: '操作'
                } ],
        });
        $('#tb_message').bootstrapTable('hideLoading')
    }
</script>
</html>