<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅途路线</title>
    <link href="/lvtu/public/static/css/bootstrap.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
</head>
<body>
<!--页头-->
{include file='../application/index/view/common/indexheader.html'/}


<!--主体-->
<div style="padding-left: 20%;padding-right: 20%;display: block" >
    <div class="container">
        <div class="page-header">
            <a class="glyphicon glyphicon-home text-warning" href="/lvtu/public/index/index/index.html"> </a> >>
            <a class="text-danger">旅途路线</a><br>
            <h1 class="glyphicon glyphicon-tags">
                路线查看
            </h1>
            <form class="navbar-form pull-right" method="post" action="{:Url('route/serch')}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入路线名称、民族名称、关键词" name="key">
                </div>
                <button type="submit" class="btn btn-default glyphicon glyphicon-search">搜索</button>
            </form>
        </div>
    </div>

    <div class="row" >
        {volist name="data" id="ho" offset="0" length='12' empty="很抱歉！暂无数据"}
        <div class="col-xm-4 col-md-4" >
            <div class="thumbnail" >
                <a href="{:Url('Route/detail_route',['id'=>$ho.id,'condition'=>'route'])}" target="_blank"><img src="{$ho.pic}" >
                    <div class="caption">
                        <h4>{$ho.title}</h4>
                </a>
                <p class="glyphicon glyphicon-globe" >{$ho.diyu}---->{$ho.goal}</p><br>
                <h6 class="glyphicon glyphicon-flag">探访民族 ：{$ho.tfmz}</h6>
                <a class="glyphicon glyphicon-heart-empty text-success pull-right" href="{:Url('Route/detail_route',['id'=>$ho.id,'condition'=>'route'])}">收藏</a>
            </div>
        </div>
    </div>
    {/volist}
    {$data->render()}
</div>
<br>



<!--页脚-->
</div>{include file='../application/index/view/common/foot.html'/}
</body>
</html>