<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/lvtu/public/static/css/bootstrap.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
</head>
<body>
<div style="padding: 100px 100px 10px;">
    <form class="bs-example bs-example-form" role="form" method="post" action="{:Url('System/add_leaderdata')}" enctype="multipart/form-data">
        <div class="input-group input-group-lg">
            <span class="input-group-addon">姓名</span>
            <input type="text" class="form-control" placeholder="请输入姓名" name="name">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">联系电话</span>
            <input type="text" class="form-control" placeholder="请输入联系电话" name="tel">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">价格</span>
            <input type="text" class="form-control" placeholder="请输入价格" name="price">
        </div>
        <br>
        <div class="form-group">
            <span class="input-group-addon">介绍</span>
            <textarea class="form-control" rows="10" name="introduction"></textarea>
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">图片</span>
            <input type="file" class="form-control" name="image">
        </div>
        <br>
        <input class="btn btn-info" type="submit" value="提交">
    </form>
</div>
</body>
</html>