<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/lvtu/public/static/css/bootstrap.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <link href="/lvtu/public/static/css/layui.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <script src="/lvtu/public/static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/lvtu/public/static/js/bootstrap.js" type="text/javascript"></script>

</head>
<body>
<div class="page-header">
    <h1>路线管理<small>用于处理旅游路线</small><small class="pull-right">当前有<span class="badge">{$count}</span>未审核</small></h1>
</div>
<button type="button" class="btn btn-default" aria-label="Left Align">
    <a href="add_route.html"><span class="glyphicon glyphicon-plus" aria-hidden="true">添加线路</span></a>
</button>
<!--显示数据-->

<style type="text/css">
    td{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<table  id="tb_route" style="table-layout:fixed">
    {volist name="route" id="vo" empty="暂时没有数据"}
    <tr >
        <td>{$vo.id}</td>
        <td>{$vo.title}</td>
        <td>{$vo.key}</td>
        <td>{$vo.goal}</td>
        <td>{$vo.tfmz}</td>
        <td >{$vo.diyu}</td>
        <td >{$vo.content}</td>
        <td ><img  class="img-thumbnail" src="{$vo.pic}"></td>
        <td>
            {if condition="$vo.zt eq '已审核'"}
            <span class="btn btn-success" >{$vo.zt}</span>
            {else/}
            <span class="btn btn-warning" >{$vo.zt}</span>
            {/if}
        </td>
        <td >
            <a class="btn btn-danger"  href="{:Url('Route/del_action',['id'=>$vo.id])}" onclick="if(confirm('确定要删除吗?')==false) return false;"
            ><span class="glyphicon glyphicon-trash">删除</span>
            </a>
            <a  class="btn btn-info" href="{:Url('Route/edit_list',['id'=>$vo.id])}"><span class="glyphicon glyphicon-pencil">编辑</span></a>
        </td>
    </tr>
    {/volist}
</table>
<script src="/lvtu/public/static/js/bootstrap.js" type="text/javascript"></script>
<script src="/lvtu/public/static/js/bootstrap-table.js" type="text/javascript"></script>
<script src="/lvtu/public/static/js/bootstrap-table-zh-CN.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        load();

    });
    function load() {
        $('#tb_route').bootstrapTable({
            toolbar:'#toolbar',
            singleSelect:true,
            clickToSelect:true,
            sortName: "id",
            sortOrder: "desc",
            pageSize: 5,
            pageNumber: 1,
            showToggle: true,
            showRefresh: true,
            showColumns: true,
            search: true,
            pagination: true,

            //是否显示父子表
            columns: [ {
                field: 'id',
                title: '编号'

            }, {
                field: 'title',
                title: '标题'

            }, {
                field: 'key',
                title: '关键词',
            }, {
                field: 'goal',
                title: '目的地'

            }, {
                field: 'tfmz',
                title: '探访民族'
            }, {
                field: 'diyu',
                title: '归属地'
            }, {
                field: 'content',
                title: '内容'
            }, {
                field: 'pic',
                title: '图片'
            },
                {
                    field: 'zt',
                    title: '状态'
                }, {
                    title: '操作'
                } ],
        });
        $('#tb_route').bootstrapTable('hideLoading')
    }
</script>
</body>
</html>