<!DOCTYPE html>
<head>
    <link href="/lvtu/public/static/css/bootstrap.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        footer {
            background: #333;
            color: #eeece1;
            font-size: 11px;
            padding: 20px;
            position: absolute;
            width: 100%;
            padding-left: 0px;
        }
        ul.unstyled {
            list-style: none;
            padding: 0;
        }
        footer h6 {
            color: white;
        }

    </style>
</head>
<footer >
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h6>Copyright &copy;旅途</h6>
            </div>

            <div class="col-sm-4">
                <h6>关于我们</h6>
                <p>

                </p>
            </div>

            <div class="col-sm-2">
                <h6>导航</h6>
                <ul class="unstyled">
                    <li><a href="">主页</a></li>
                    <li><a href="">服务</a></li>
                    <li><a href="">链接</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>

            <div class="col-sm-2">
                <h6>Follow us</h6>
                <ul class="unstyled">
                    <li><a href="">微博</a></li>
                    <li><a href="">微信</a></li>
                    <li><a href="">来往</a></li>
                </ul>
            </div>

            <div class="col-sm-2">
                <h6>本网站由<span class="glyphicon glyphicon-heart"></span>F制作</h6>
            </div>
        </div>
    </div>
</footer><!--页脚结束-->

