<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/lvtu/public/static/css/bootstrap.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
</head>
<body>
<div style="padding: 100px 100px 10px;">
    <form class="bs-example bs-example-form" role="form" method="post" action="{:Url('Article/add_content')}" enctype="multipart/form-data">
        <div class="input-group input-group-lg">
            <span class="input-group-addon">标题</span>
            <input type="text" class="form-control" placeholder="请输入标题" name="title">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">作者</span>
            <input type="text" class="form-control" placeholder="请输入作者" name="author">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">类别</span>
            <select class="btn btn-default btn-lg btn-block" name="leibie">
                <option value="新闻">新闻</option>
                <option value="资讯">资讯 </option>
                <option value="攻略">攻略</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <span class="input-group-addon">内容</span>
            <textarea class="form-control" rows="10" name="content"></textarea>
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">图片</span>
            <input type="file" class="form-control" name="image">
        </div>
        <br>
        <input class="btn btn-info" type="submit" value="提交">
    </form>
</div>
</body>
</html>