<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/lvtu/public/static/css/common.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
</head>
<body>
<a href="../admin.html">返回</a>
<!--编辑管理员-->
<div align="center">
    <div class="login_title">
        编辑管理员
    </div>
    <form  action="{:Url('User/edit_admin',['id'=>$list['Id']])}" method="post">
        <div >
            <div class="form_text_ipt">
                <input type="text" name="user" placeholder="" value="{$list.adminuser}">
            </div>
            <div class="form_text_ipt">
                <input type="password" name="pwd" placeholder="密码">
            </div>
            <div class="form_btn">
                <select name="qx" class="form_btn">
                    <option value="{list.qx}" selected>{$list.qx}</option>
                    <option value="超级管理员" >超级管理员</option>
                    <option value="文章管理员" >文章管理员</option>
                    <option value="路线管理员" >路线管理员</option>
                    <option value="客栈管理员" >客栈管理员</option>
                    <option value="订单管理员" >订单管理员</option>
                    <option value="留言管理员" >留言管理员</option>
                </select>
            </div>
            <div class='form_btn'>
                <button class="btn btn-info" type="submit" >编辑</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>