<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/lvtu/public/static/css/bootstrap.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <link href="/lvtu/public/static/css/layui.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <script src="/lvtu/public/static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>
<body>
<div class="page-header">
    <h1>会员管理<small>用于管理网站的会员</small></h1>
</div>
<!--显示数据-->
<table id="tb_user" style="table-layout:fixed">
    {volist name="list" id="vo"}
    <tr >
        <td >{$vo.id}</td>
        <td >{$vo.username}</td>
        <td >{$vo.name}</td>
        <td >{$vo.realname}</td>
        <td >{$vo.email}</td>
        <td >{$vo.sex}</td>
        <td>
            <a class="btn btn-danger" href="{:Url('User/del_user',['id'=>$vo.id])}" onclick="if(confirm('确定要删除吗?')==false) return false;"
            ><span class="glyphicon glyphicon-trash ">删除</span></a>
        </td>
    </tr>
    {/volist}
</table>
<script src="/lvtu/public/static/js/bootstrap.js" type="text/javascript"></script>
<script src="/lvtu/public/static/js/bootstrap-table.js" type="text/javascript"></script>
<script src="/lvtu/public/static/js/bootstrap-table-zh-CN.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        load();

    });
    function load() {
        $('#tb_user').bootstrapTable({
            toolbar:'#toolbar',
            singleSelect:true,
            clickToSelect:true,
            sortName: "Id",
            sortOrder: "desc",
            pageSize: 5,
            pageNumber: 1,
            showToggle: true,
            showRefresh: true,
            showColumns: true,
            search: true,
            pagination: true,
            //是否显示父子表
            columns: [ {
                field: 'Id',
                title: '编号'

            }, {
                field: 'username',
                title: '账号'

            }, {
                field: 'name',
                title: '昵称',
            },   {
                field: 'realname',
                title: '真实姓名',
            }, {
                field: 'email',
                title: '邮箱'
            }, {
                field: 'sex',
                title: '性别',
            },{
                title: '操作'
            } ],
        });
        $('#tb_user').bootstrapTable('hideLoading')
    }
</script>
</body>
</html>